# Data collection
yfinance==1.4.0
vnstock 

# Data processing
numpy==2.4.5
pandas==3.0.3
scipy==1.17.1

# Big Data
pyspark==4.1.1

# Machine Learning
scikit-learn==1.8.0
xgboost==3.2.0
joblib==1.5.3

# Deep Learning
tensorflow==2.21.0
keras==3.14.1

# Visualization
matplotlib==3.10.9
seaborn==0.13.2
