# Data collection
yfinance
vnstock

# Data processing
numpy
pandas
scipy

# Big Data
pyspark

# Machine Learning
scikit-learn
xgboost
joblib

# Deep Learning
tensorflow
keras

# Visualization
matplotlib
seaborn